*
!go.mod
!go.sum
!*.go
!auth/
!auth/**
!engine/
!engine/**
!interfaces/
!interfaces/**
!preconfigs/
!preconfigs/**
!service/
!service/**
!utils/
!utils/**
!vendors/
!vendors/**
**/*_test.go
**/testdata/
**/*.key
**/*.pem
**/*.crt
!preconfigs/embeded/ca-certificates.crt
